@prefix : <http://flickr.com/palestineexplorationfund> .
@prefix void: <http://rdfs.org/ns/void#> .
@prefix dcterms: <http://purl.org/dc/terms/> .
@prefix foaf: <http://xmlns.com/foaf/0.1/> .

:pef a void:Dataset;
  dcterms:title "@@title@@";
  dcterms:publisher "@@title@@";
  foaf:homepage <https://www.flickr.com/photos/@@userID@@>;
  dcterms:description "Flickr photostream of @@title@@.";
  dcterms:license <http://creativecommons.org/publicdomain/zero/1.0/>;
  .
